

.card {
    height: 50%;
    width: 20%;
    background-color: rgb(188, 207, 214);
    align-items: center;
    border-radius: 5%;
    box-shadow: 10px 5px 5px rgb(70, 72, 73);
    margin: 15px 1px;
}
.remove {
    align-content: center;
}


.h1 {
    text-align: center;
    font-size: 200%;
    padding: .5%;
    font-family: 'Rancho', cursive;
  
}
.card-title {
    font: 2.2rem;
    margin-top: 2px 80px;
    text-align: center;
    
}

 .box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    }
    
   
 .card-img {
        width: 90%;
        height: 30%; 
        align-items: center;
        margin-left: 5%;
    }

  